<!DOCTYPE html>
<html lang="es">
<head>
 {% block head %}
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>{% block title %}{% endblock %}</title>
 <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
 <link rel=icon href="https://storage.googleapis.com/meditweet-2019.appspot.com/meditweet-03.png" sizes="16x16" type="image/png">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<style>
    body,
    header {
        background-color: rgb(248, 228, 201);
        color: rgb(45, 50, 82);
        font-family: Roboto;
        line-height: 159%;
    }
</style>
 {% endblock %}
</head>
<body>
 {% block body %}{% endblock %}
</body>
</html>
