{% macro footer() %}
<footer>
    <div class="mb-5">
        <a target="_blank" href="https://twitter.com/MediTweetVE">Nuestro Twitter</a>
        <a target="_blank" href="https://www.codeforvenezuela.org/about-us-1">Sobre Nosotros</a>
        <a target="_blank" href="https://www.codeforvenezuela.org/get-involved">Involúcrate</a>
        <a target="_blank" href="https://www.codeforvenezuela.org/">Code for Venezuela</a>
    </div>
    <div>
        <span>All Rights Reserved, MediTweet 2019</span>
    </div>
    <div class="footer-flag-wrapper">
        <div class="footer-flag y"></div>
        <div class="footer-flag b"></div>
        <div class="footer-flag r"></div>
    </div>
</footer>
{% endmacro %}