{% macro show_pharmacies(pharmacies) %}
<div class="card">
    <button class="card-header btn btn-link text-left" data-toggle="collapse" href="#pharmacies" role="button" aria-expanded="false"
        aria-controls="pharmacies">
        <i class="fa fa-heartbeat mr-2"></i> Farmacias
    </button>

    <section id="pharmacies" class="collapse show" aria-labelledby="headingOne">
        <div class="accordion">
            <div class="card">
                {% for key, values in pharmacies.items() %}
                <button class="card-header btn btn-link pl-5 text-left pharmacies-btn" data-toggle="collapse" href="#{{key}}" role="button"
                    aria-expanded="false" aria-controls="{{key}}">
                    <i class="fa pharmacies-btn mr-2"></i>{{ key|title }}
                </button>
                <section id="{{key}}" class="collapse show" aria-labelledby="headingTwo">
                    <div class="mt-3"></div>
                    {% for p in values %}
                    <div class="card inner-card">
                        <div class="card-body">
                            <h5 class="card-title mb-0">{{ p.name }}</h5>
                            <h6>{{ p.address }}</h6>
                            <p class="card-text mb-0">Medicinas disponibles:</p>
                            <ul class="mb-0 pl-5">
                                <div>
                                    {% for m in p.medicines [:3] %}
                                    <li>{{ m.name }}</li>
                                    {% endfor %}
                                </div>
                                <div class="collapse" id="{{ key }}{{ loop.index0 }}">
                                    {% for m in p.medicines [3:] %}
                                    <li>{{ m.name }}</li>
                                    {% endfor %}
                                </div>
                            </ul>
                            {% if p.medicines|length > 3 %}
                            <div class="pl-5 mt-2">
                                <a class="showMore" data-toggle="collapse" href="#{{ key }}{{ loop.index0 }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Mostrar más
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </section>
                {% endfor %}
            </div>
        </div>
    </section>
</div>
{% endmacro %}